---

plugins:
 - type: sms
   module: GiftexPluginJustSend
   config:
     api_url: "https://justsend.pl/api/rest"
     api_key: "Z2lmdGV4anVzdHNlbmRwbHVnaW5jb25maWcK"
     message:
       title: "Giftex"
       text: "Hello {{giver}}! Your gift will go to: {{receiver}}..."

members:
 - name: "John Williams"
   plugins:
   - type: sms
     meta:
      number: "+01234567890"
 - name: "Diane Smith"
   plugins:
   - type: sms
     meta:
      number: "+01098765432"
 - name: "Bob McRoe"
   plugins:
   - type: test_mail
     meta:
      email: "bmcroe@mail.com"
   exclude:
   - "John Williams"
