---

plugins:
 - type: sms
   module: GiftexJustSendPlugin

members:
 - name: "John Williams"
   plugins:
   - type: sms
     meta:
      number: "+01234567890"
 - name: "Diane Smith"
   plugins:
   - type: sms
     meta:
      number: "+01098765432"
 - name: "Bob McRoe"
   plugins:
   - type: test_mail
     meta:
      email: "bmcroe@mail.com"
   exclude:
   - "John Williams"
